/* Estilos da página inicial*/
h1 {
    text-align: center;
    margin-bottom: 20px;
}
  
h3 {
    text-align: center;
    margin-bottom: 20px;
}
  
.carousel-overlay {
    background-color: rgba(128, 128, 128, 0.2);
    padding: 5px;
}