/* Estilos de registro */
.card {
    border: none;
}
  
.card-header {
    background-color: #ffffff;
    border-bottom: 1px solid #ddd;
    text-align: center;
    padding: 20px 0;
}
  
.card-header h2 {
    margin: 0;
}
  
.form-group {
    margin-bottom: 15px;
}

.form-group.form-check {
    margin-bottom: 15px;
}
  
.register-header {
    text-align: center;
}

.register-header img {
    max-width: 100%;
    height: auto;
    max-height: 70px; /* Define a altura máxima da imagem */
}

.register-header h2 {
    font-size: 24px; /* Define o tamanho máximo da fonte */
}